/////////////////////////////////////////////////////
//
// 채팅 서버 Config
//
/////////////////////////////////////////////////////

:SERVER
{
	//------------------------------------------------------
	// Listen IP / PORT
	//------------------------------------------------------
	BIND_IP			= "127.0.0.1"
	DB_ID			= "root"
	DB_PSW			= "vmfhzkepal56!"
	DB_NAME			= "accountdb"
	BIND_PORT		= 3306

}

